.container {
  background-color: #1a143b;
}

.header {
  transition: all ease-in-out 0.5s;
  background: linear-gradient(130deg, #ff0f52 -20%, rgba(26, 20, 59, 0) 75%);
  padding-bottom: 128px;
}
.header__wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 400;
  background-color: transparent;
  transition: all 500ms ease-in-out;
  height: 128px;
}
.header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background: #1a143b;
}

.top-menu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.top-menu__container {
  max-width: 1176px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.top-menu__links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.top-menu__links a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}

.top-menu__links a:hover {
  color: #ffc107;
}

.top-menu__right {
  font-size: 14px;
  display: flex;
}

.burger-hidden__header_language span {
  color: #909090;
  padding: 0 2px;
}
.burger-hidden__header_language {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top-menu__language {
  margin-right: 40px;
  color: #cacaca;
}

.top-menu__language button {
  font-size: 14px;
  background: 0;
  cursor: pointer;
}
.top-menu__language button:hover {
  color: #ffc107;
}

.top-menu__language span,
.top-menu__persons span {
  font-size: 16px;
  color: #909090;
}

.top-menu__persons {
  color: #cacaca;
}
.top-menu__persons a {
  font-size: 14px;
  text-decoration: none;
}
.top-menu__persons a:hover {
  color: #ffc107;
}

.white {
  color: #ffffff;
}

.CA {
  color: #cacaca;
}

.lower-menu {
}
.lower-menu__container {
  max-width: 1176px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.lower-menu__list {
  display: flex;
  align-items: center;
  position: relative;
}
.lower-menu__logo {
}

.lower-menu__links {
  display: flex;
  list-style: none;
  padding: 28px 0;
}

.pos {
  color: #ffffff;
  text-decoration: none;
  padding: 28px 0;
  position: relative;
}

.menu-hovered__link {
  color: #fff;
  cursor: pointer;
  padding: 8px !important;
  font-size: 14px !important;
}

.hovered {
  display: inline;
  cursor: pointer;
}
.hovered a {
  display: block;
  text-decoration: none;
  line-height: 24px;
  font-size: 14px;
}

.block {
  position: absolute;
  top: 75px;
  left: -70px;
  background: #1a143b;
  display: none;
  width: 200px;
  z-index: 9000;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 7px 10px #1a143b;

  text-align: center;
}

.hovered:hover .block {
  display: block;
}

.pos::before {
  content: "";
  height: 3px;
  width: 0%;
  background: #ffc107;
  position: absolute;
  right: 50%;
  bottom: 0px;
  transition: 0.4s;
}

.pos::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #ffc107;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transition: 0.4s;
}

.pos:hover::after,
.pos:hover::before {
  width: 50%;
}

.lower-menu__links li {
  margin-right: 23px;
}

.lower-menu__rightSide {
  display: flex;
  align-items: center;
}

.lower-menu__search {
  margin-right: 42px;
}
.lower-menu__search img {
  width: 24px;
}
@media (max-width: 1180px) {
  .lower-menu__login button {
    font-size: 14px;
    font-weight: normal;
    padding: 6px 17px;
  }
}

.lower-menu__btn {
  background: linear-gradient(51.04deg, #f90 1.52%, #ffcd00 97.06%);
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 23px;
  padding: 10px 24px;
  color: #000;
  cursor: pointer;
}

.burger-menu {
  display: flex;
  align-items: center;
  height: 60px;
}

.burger-menu__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.burger-menu__btn {
  padding: 14px;
}

.burger-hidden-menu {
  display: none;
  position: fixed;
  list-style: none;
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  background-color: #fff;
  top: 0;
  transition: right 0.2s;
  z-index: 2000;
  cursor: default;
  -webkit-transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  box-shadow: 0px 24px 10px rgb(0 0 0 / 25%);
  right: -100%;
}
.show-burger {
  right: 0;
}

.burger-hidden__header {
  padding-left: 16px;
  display: flex;
  position: relative;
}
.burger-hidden__btn-close {
  margin-bottom: 0;
  cursor: pointer;
  padding: 14px;
}
.burger-hidden__btn-close img {
  width: 24px;
}

.burger-hidden__header_language {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: 74px;
  height: 25px;
  margin: auto;
}

.burger-hidden__header_language button {
  font-size: 14px;
  color: #cacaca;
  background: 0;
}

.burger-hidden__persons {
  border-bottom: 1px solid #e9ebed;
  margin-bottom: 24px;
  display: flex !important;
}
.burger-hidden__persons a {
  font-size: 18px;
  font-weight: 500;
  padding: 15px 0 !important;
  margin: 0 16px;
  color: #020e1c;
  text-decoration: none;
}

.burger-hidden__private {
}
.burger-hidden__private_text::before {
  content: "";
  height: 3px;
  width: 135px;
  background: #ffe200;
  position: absolute;
  left: 15px;
  top: 100px;
}
.burger-hidden__business {
}
.burger-hidden__business_text {
}

.burger-hidden__search {
}
.burger-hidden__search_container {
  padding: 0 1rem;
  position: relative;
  margin-bottom: 22px;
}
.burger-hidden__search_icon {
  position: absolute;
  left: 28px;
  top: 0;
  bottom: 0;
  margin: auto;
  height: 24px;
}
.burger-hidden__search_input {
  background: #f5f5f5;
  border: 1px solid #e8e8e8;
  box-sizing: border-box;
  border-radius: 12px;
  width: 100%;
  padding: 12px 48px;
  font-size: 16px;
  line-height: 144%;
  transition: all 0.4s ease-in-out;
}

input.burger-hidden__search_input:focus {
  border: 1px solid #80c9ff;
}

.search-close {
  right: 33px;
  position: absolute;
  top: 0;
  height: 25px;
  bottom: 0;
  margin: auto;
  cursor: pointer;
}
.search-close img {
  width: 25px;
}
.burger-hidden__items {
  max-height: 500px;
  overflow-y: auto;
}
.burger-hidden__items_list {
  border-bottom: 1px solid #e9ebed;
}
.burger-hidden__item {
  font-weight: 500;
  font-size: 18px;
  margin-bottom: 24px;
  padding: 0 16px;
}

.lower-menu__btn {
  border: none;
}
.burger-hidden__item_d-flex {
  display: flex !important;
  align-items: center !important;
  justify-content: space-between !important;
  color: #020e1c;
  text-decoration: none;
}
.burger-hidden__item_text {
  font-size: 1rem;
  line-height: 144%;
  font-weight: normal;
  color: #000;
}
.burger-hidden__items_help {
  display: flex;
  justify-content: space-between;
  font-size: 15px;
  font-weight: 500;
  color: #000;
  padding: 10px 15px !important;
}
.help-item {
  display: flex !important;
  justify-content: space-between !important;
  align-items: center !important;
}
.burger-hidden__search_input:focus {
  outline: none;
  box-shadow: 0px 10px 24px rgb(39 44 54 / 5%);
  background: #fff;
  border-color: #80c9ff;
}

.help-item__text {
}
.burger-hidden__items_office {
  font-size: 0.9375rem;
  font-weight: 500;
  padding: 0.625rem 0.9375rem;
}
.burger-hidden__items_office a {
  color: #000000;
  text-decoration: none;
}

.top-menu__language button {
  border: none;
}

.lower-menu__links li {
  margin-right: 0;
  margin-left: 23px;
}

.header {
  z-index: 9999;
}

.burger-hidden__header_language button {
  border: none;
}
