
.header-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.header-menu__left__items {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-menu__left__item {
    margin-right: 40px;
}

.header-menu__left__item__effect {
    margin-right: 23px;
}

.header-menu__left__item__logo {
    margin-right: 23px;
}

.header-menu__top {
    font-size: 0.875rem;
    padding-bottom: 15px;
}

.header-menu__top::before {
    position: absolute;
    content: "";
    top: 35%;
    left: 0;
    height: 1px;
    width: 100%;
    border: 1px solid rgba(255, 255, 255, .05);
    /*border: 1px solid red;*/
}

.header-menu__bottom {
    font-size: 1rem;
}

.header-menu__right {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.header-menu__right__language {
    margin-right: 40px;
}

.header-menu__right a:last-child {
    color: #CACACA;
}

.header-menu__right__language span:last-child {
    color: #CACACA;
}

.header-menu__right span:nth-child(2) {
    color: #909090;
}

.header-menu__right__search {
    margin-right: 40px;
}

.header-menu__right__search__btn {
    background: transparent;
    border: none;
}

.header-menu__right__login__btn {
    background: linear-gradient(51.04deg, #f90 1.52%, #FFCD00 97.06%);
    border-radius: 8px;
    font-weight: 500;
    font-size: 1rem;
    line-height: 144%;
    border: none;
    padding: 10px 24px;
    color: #000;
}

.header-menu__left__link:hover {
    color: #F7D145;
}

.header-menu__right span:last-child:hover {
    color: #F7D145;
    cursor: pointer;
}

.header-menu__right span:first-child:hover {
    color: #F7D145;
    cursor: pointer;
}

.header-menu__left__item__effect {
    position: relative;
}

.header-menu__left__item__effect a:before {
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    height: 3px;
    width: 100%;
    opacity: 0;
    transform: scale(0);
    background: #fd0;
    transition: all 0.2s ease-in;
}

.header-menu__left__item__effect a:hover:before {
    opacity: 1;
    transform: scale(1);
}

.cinema {
    background: linear-gradient(160deg, #FF0F52 -15%, rgba(26, 20, 59, 0) 38%);
}

.cinema-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 250px 0 100px;
}

.cinema-title {
    font-size: 42px;
    line-height: 52px;
    font-weight: bold;
    color: #fff;
    padding-bottom: 16px;
}

.cinema-subtitle {
    font-size: 19px;
    line-height: 132%;
    color: #fff;
}

.cinema-subtitle__bottom {
    padding-bottom: 30px;
}


.cinema-button {
    font-size: 19px;
    line-height: 130%;
    font-weight: bold;
    color: #fff;
    border: none;
    cursor: pointer;
    background-color: #FF0F52;
    border-radius: 16px;
    margin-right: 25px;
    padding: 23px 44px;
}

.cinema-left {
    position: relative;
}

.cinema-right {
    /*max-width: 55%;*/
    position: absolute;
    top: 22%;
    left: 23%;
    width: 70%;
    height: 70%;
    background: url(https://beeline.kg/binaries/content/gallery/mainsite/landing-pages/ivi-landing/ivi_banner.png) no-repeat;
    background-position: right;
    background-size: contain;
}

.cinema-left span {
    align-items: center;
    color: #fff;
    font-size: 20px;
    font-weight: bold;
    line-height: 130%;
    cursor: pointer;
}

.cinema-left__info {
    display: flex;
    align-items: center;
    justify-content: center;
}

.cinema-left__info span {
    padding-right: 10px;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: .2s linear;
    z-index: 999;
}

.container-fixed{
    padding: 20px 20px 0 20px;
}

.header-burger {
    width: 20px;
    height: 15px;
    display: none;
    position: relative;
}

.burger-line {
    position: absolute;
    left: 0;
    display: block;
    width: 100%;
    height: 2px;
    background: #000;
}

.burger-line__first {
    top: 0;
}

.burger-line__second {
    top: 50%;
    transform: translateY(-50%);
}

.burger-line__third {
    bottom: 0;
}

.header-burger {
    display: none;
}

.header-nav__close {
    display: none;
}

.header-fixed {
    background: #1A143B;

}

/*Media start*/
@media screen and (max-width: 1180px) {
    .header-burger {
        display: block;
    }


}

/*Media end*/