.wrapper {
  background-color: #1a143b;
}

.header {
  transition: all ease-in-out 0.5s;
  background: linear-gradient(130deg, #ff0f52 -20%, rgba(26, 20, 59, 0) 75%);
  padding-bottom: 128px;
}
.header__wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 400;
  background-color: transparent;
  transition: all 500ms ease-in-out;
  height: 128px;
}
.header-fixed {
  position: fixed;
  top: 0;
  width: 100%;
  background: #1a143b;
}

.top-menu {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
}

.top-menu__container {
  max-width: 1176px;
  height: 48px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}
.top-menu__links {
  display: flex;
  gap: 40px;
  list-style: none;
}

.top-menu__links a {
  color: #ffffff;
  font-size: 14px;
  text-decoration: none;
}

.top-menu__links a:hover {
  color: #ffc107;
}

.top-menu__right {
  font-size: 14px;
  display: flex;
}

.top-menu__language {
  margin-right: 40px;
  color: #cacaca;
}

.top-menu__language button {
  font-size: 14px;
  background: 0;
  cursor: pointer;
}
.top-menu__language button:hover {
  color: #ffc107;
}

.top-menu__language span,
.top-menu__persons span {
  font-size: 16px;
  color: #909090;
}

.top-menu__persons {
  color: #cacaca;
}
.top-menu__persons a {
  font-size: 14px;
  text-decoration: none;
}
.top-menu__persons a:hover {
  color: #ffc107;
}

.white {
  color: #ffffff;
}

.CA {
  color: #cacaca;
}

.lower-menu {
}
.lower-menu__container {
  max-width: 1176px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.lower-menu__list {
  display: flex;
  align-items: center;
  position: relative;
}
.lower-menu__logo {
}

.lower-menu__links {
  display: flex;
  list-style: none;
  padding: 28px 0;
}

.pos {
  color: #ffffff;
  text-decoration: none;
  padding: 28px 0;
  position: relative;
}

.menu-hovered__link {
  color: #fff;
  cursor: pointer;
  padding: 8px !important;
  font-size: 14px !important;
}

.hovered {
  display: inline;
  cursor: pointer;
}
.hovered a {
  display: block;
  text-decoration: none;
  line-height: 24px;
  font-size: 14px;
}

.block {
  position: absolute;
  top: 75px;
  left: -70px;
  background: #1a143b;
  display: none;
  width: 200px;
  z-index: 9000;
  border-radius: 0 0 10px 10px;
  box-shadow: 0 7px 10px #1a143b;

  text-align: center;
}

.hovered:hover .block {
  display: block;
}

.pos::before {
  content: "";
  height: 3px;
  width: 0%;
  background: #ffc107;
  position: absolute;
  right: 50%;
  bottom: 0px;
  transition: 0.4s;
}

.pos::after {
  content: "";
  height: 3px;
  width: 0%;
  background: #ffc107;
  position: absolute;
  left: 50%;
  bottom: 0px;
  transition: 0.4s;
}

.pos:hover::after,
.pos:hover::before {
  width: 50%;
}

.lower-menu__links li {
  margin-right: 23px;
}

.lower-menu__rightSide {
  display: flex;
  align-items: center;
}

.lower-menu__search {
  margin-right: 42px;
}
.lower-menu__search img {
  width: 24px;
}
@media (max-width: 1180px) {
  .lower-menu__login button {
    font-size: 14px;
    font-weight: normal;
    padding: 6px 17px;
  }
}

.lower-menu__btn {
  background: linear-gradient(51.04deg, #f90 1.52%, #ffcd00 97.06%);
  border-radius: 8px;
  font-weight: 500;
  font-size: 1rem;
  line-height: 23px;
  padding: 10px 24px;
  color: #000;
  cursor: pointer;
}
